
a{
  color: inherit;
  text-decoration: none;
}
.App {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100vh;
}

/* Media Query for Mobile Devices */
@media (max-width: 783px) {
  .App {
    flex-direction: column; /* Stack components vertically */
    align-items: center;
  }

  .navbar {
    width: 100%; /* Ensure navbar takes full width */
    padding: 10px; /* Add some padding for mobile view */
  }

  /* You can adjust Home or other components if needed */
  .home {
    width: 100%; /* Ensure the home section takes full width on mobile */
    padding: 10px; /* Add some spacing */
  }

  /* Adjust other styles for mobile view if necessary */
}
